# Limpieza de datos

Importo dependencias y cargo el csv como Dataframe

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("crashes.csv")
df.head()

,date,time,location,operator,flight_number,route,ac_type,registration,cn/in,aboard,fatalities,ground,summary
0,"December 26, 1932",?,"Wau, Australia",Guinea Airways,?,?,De Havilland DH-60,VH-UMJ,1372,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The pilot lost control and crashed after attem...
1,"December 14, 1932",?,"Rocky Ridge, Colorado",Boeing Air Transport,?,?,Boeing 40,NC281,892,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Struck a mountain when the pilot reduced altit...
2,"December 14, 1932",?,"Amarillo, Texas",Trans Continental and Western Air,?,?,Ford 5,NC9650,5-AT-037,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The mail plane crashed in a snowstorm. The pil...
3,"November 25, 1932",?,"Marianna, Arkansas",Hunter Airways,?,"Little Rock, AR - Memphis, TN",Travel Air 6000,NC369M,2020,2 (passengers:1 crew:1),2 (passengers:1 crew:1),0,Became lost and circled until the plane struc...
4,"October 29, 1932",?,"Ramsgate, England",Deutsche Lufthansa,?,London - Cologne - Berlin,Junkers W-33,D-2017,?,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The mail plane ditched into the English Channe...

Modifico la columna 'date' para que tenga un formato de fecha mas facil de trabajar

In [2]:

df['date'] = pd.to_datetime(df['date'])
df.head()

,date,time,location,operator,flight_number,route,ac_type,registration,cn/in,aboard,fatalities,ground,summary
0,1932-12-26,?,"Wau, Australia",Guinea Airways,?,?,De Havilland DH-60,VH-UMJ,1372,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The pilot lost control and crashed after attem...
1,1932-12-14,?,"Rocky Ridge, Colorado",Boeing Air Transport,?,?,Boeing 40,NC281,892,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Struck a mountain when the pilot reduced altit...
2,1932-12-14,?,"Amarillo, Texas",Trans Continental and Western Air,?,?,Ford 5,NC9650,5-AT-037,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The mail plane crashed in a snowstorm. The pil...
3,1932-11-25,?,"Marianna, Arkansas",Hunter Airways,?,"Little Rock, AR - Memphis, TN",Travel Air 6000,NC369M,2020,2 (passengers:1 crew:1),2 (passengers:1 crew:1),0,Became lost and circled until the plane struc...
4,1932-10-29,?,"Ramsgate, England",Deutsche Lufthansa,?,London - Cologne - Berlin,Junkers W-33,D-2017,?,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The mail plane ditched into the English Channe...

Reemplazo los valores '?' por celdas vacias (Ayuda al procesamiento en el futuro)

In [3]:
df.replace(to_replace="?", value=np.nan, inplace=True)
df.head()

,date,time,location,operator,flight_number,route,ac_type,registration,cn/in,aboard,fatalities,ground,summary
0,1932-12-26,NaN,"Wau, Australia",Guinea Airways,NaN,NaN,De Havilland DH-60,VH-UMJ,1372,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The pilot lost control and crashed after attem...
1,1932-12-14,NaN,"Rocky Ridge, Colorado",Boeing Air Transport,NaN,NaN,Boeing 40,NC281,892,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Struck a mountain when the pilot reduced altit...
2,1932-12-14,NaN,"Amarillo, Texas",Trans Continental and Western Air,NaN,NaN,Ford 5,NC9650,5-AT-037,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The mail plane crashed in a snowstorm. The pil...
3,1932-11-25,NaN,"Marianna, Arkansas",Hunter Airways,NaN,"Little Rock, AR - Memphis, TN",Travel Air 6000,NC369M,2020,2 (passengers:1 crew:1),2 (passengers:1 crew:1),0,Became lost and circled until the plane struc...
4,1932-10-29,NaN,"Ramsgate, England",Deutsche Lufthansa,NaN,London - Cologne - Berlin,Junkers W-33,D-2017,NaN,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The mail plane ditched into the English Channe...

Reemplazo las columnas 'aboard' y 'fatalities' (Strings) por numeros para poder ser procesadas

In [4]:
def extract_value(string):
    import re
    value = re.search("(\d).*\(pass.*", string)
    if value == None:
        value = np.nan
    else:
        value = value.group(1)
    return value
df['aboard'] = df['aboard'].apply(extract_value)
df['fatalities'] = df['fatalities'].apply(extract_value)
df.head()

,date,time,location,operator,flight_number,route,ac_type,registration,cn/in,aboard,fatalities,ground,summary
0,1932-12-26,NaN,"Wau, Australia",Guinea Airways,NaN,NaN,De Havilland DH-60,VH-UMJ,1372,1,1,0,The pilot lost control and crashed after attem...
1,1932-12-14,NaN,"Rocky Ridge, Colorado",Boeing Air Transport,NaN,NaN,Boeing 40,NC281,892,1,1,0,Struck a mountain when the pilot reduced altit...
2,1932-12-14,NaN,"Amarillo, Texas",Trans Continental and Western Air,NaN,NaN,Ford 5,NC9650,5-AT-037,2,2,0,The mail plane crashed in a snowstorm. The pil...
3,1932-11-25,NaN,"Marianna, Arkansas",Hunter Airways,NaN,"Little Rock, AR - Memphis, TN",Travel Air 6000,NC369M,2020,2,2,0,Became lost and circled until the plane struc...
4,1932-10-29,NaN,"Ramsgate, England",Deutsche Lufthansa,NaN,London - Cologne - Berlin,Junkers W-33,D-2017,NaN,2,2,0,The mail plane ditched into the English Channe...

Exporto el dataframe como un nuevos csv limpio

In [5]:
df.to_csv('clean_data.csv')